<h1> Hello, <%= @user.name %>. Get started on managing <%= @user.salon_name %>.</h1>

<%= link_to "Create a Stylist Profile", new_stylist_path %>

<p><%= link_to "Appointments", '/appointments' %>