/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require simple_calendar
 */
body {
     background-image: url(https://images.unsplash.com/photo-1504198266287-1659872e6590?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80);
     background-color: black;     
     background-size: 100%;  
     font-family: verdana, arial, helvetica, sans-serif;
     font-size: 13px;      
     color: rgb(35, 35, 72);                  
     text-align: center;            
}
a {
     text-decoration: none;      
     font-family: Arial;    
     font-size: 15px;       
     font-weight: bold;         
}

a:link {             
     color: white;
}
a:hover {
     color:purple;
}
a:visited {
     color: clear;
}
h1{                  
}

.container {
}

.nav a {                     <<<<can access nested tags this way
}

.simple-calendar {
  
}
  
.has-events {
  background-color: white;
}
}
